/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20em;
    line-height: 1.4;
}


/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.col-center {
    margin: 0 auto;
}

/* CSS adicionado */
.navbar-inverse {
    background-color: #689999;
}

.nav a{
    color: white;
    font-size: 1.5em;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}


.navbar-inverse .navbar-nav > li > a:hover {
    color: black;
}


.div-home{
    margin-top: 1%;
    width: 90%;
    text-align: justify;
}

.box {
    width: 50%;
    display: inline-block;
    padding: 10%;
}

.div-registo {
    width: 20%;
    display: inline-block;
}



/*Form*/
form {
    margin: 0 auto;
    width: 90%;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

form div + div {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 150px;
    text-align: right;
}

input {
    font: 1em sans-serif;
    width: 60%;
    border: 1px solid #999;
}

input:focus {
    border-color: #000;
}

.button {
    padding-left: 20%; 
}

button {
    margin-left: .5em;
}

.div-perfil {
    width: 50%;
    display: inline-block;
}

@media screen and (max-width: 500px) {
    .img-fundo {
        display: block;
    }
    .div-registo{
        display:block;
    }
}

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
visibility: visible;
-webkit-animation: fadeIn 1s;
animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
} 