@model ProjectSW.Models.Employee

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

    $(function () {
        $('[data-toggle="popover"]').popover({
            container: 'body'
        })
    })

    $('.popover-dismiss').popover({
        trigger: 'focus'
    })
</script>

<div class="div-content">
    <h2 style="font-size: 30px;"><b>Criar ficha de Funcionário</b></h2>
    <hr />
    <div>
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create" class="form-create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="AccountId" class="control-label"></label>
                        <button style= "background-color:#164C48; width:3em; float:right;" type="button" class="btn btn-outline-info form-control" data-toggle="popover" data-trigger="focus" title="Email" data-content="Aqui irá inserir o email do funcionário.">
                            <img style=" width:100%" src="~/images/info_popup.png" alt="info">
                        </button>
                        <select asp-for="AccountId" class="form-control" id="AccountID-Sel" asp-items="ViewBag.AccountId"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Type" class="control-label"></label>
                        <button style="background-color:#164C48; width:3em; float:right;" type="button" class="btn btn-outline-info form-control" data-toggle="popover" data-trigger="focus" title="Cargo" data-content="Aqui irá inserir o cargo do funcionário.">
                            <img style="width:100%" src="~/images/info_popup.png" alt="info">
                        </button>
                        <select asp-for="Type" class="form-control custom-select" id="Registar-user-type">
                            <option value="Funcionario" selected>Funcionario</option>
                            <option value="Voluntario">Voluntario</option>
                            <option value="Administrador">Administrador</option>
                        </select>
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AditionalInformation" class="control-label"></label>
                        <button style="background-color:#164C48; width:3em; float:right;" type="button" class="btn btn-outline-info form-control" data-toggle="popover" data-trigger="focus" title="Informação adicional" data-content="Aqui irá inserir alguma informação adicional que seja relevante.">
                            <img style=" width:100%" src="~/images/info_popup.png" alt="info">
                        </button>
                        <textarea asp-for="AditionalInformation" class="form-control"></textarea>
                        <span asp-validation-for="AditionalInformation" class="text-danger" id="aditional-info"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Criar" class="button-format"  id="Employee-Create-submit" style="margin-left:0%;"/>
                    </div>
                </form>
            </div>
        </div>
        <div>
            <a asp-action="Index"><button class="button-format" style="margin-left:31.5%"><span>Voltar</span></button></a>
        </div>
    </div>
    </div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
