@model ProjectSW.Models.Employee

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}

<div class="div-content-form">
    <h2 style="font-size: 30px; margin-left:32%;"> <img src="~/images/pawprint-white.png" style="margin-right: 10%;margin-bottom: 2%;" /><b>Editar</b></h2>
    <div>
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit" style="margin-left: 100%; margin-top: 10%; width:130%">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="AccountId" class="control-label" value="Email"></label>
                        <select asp-for="AccountId" class="form-control" asp-items="ViewBag.AccountId"></select>
                        <span asp-validation-for="AccountId" class="text-danger"></span>
                    </div>
                    <select asp-for="Type" class="form-control custom-select" id="Registar-user-type">
                        <option value="Funcionario" selected>Funcionario</option>
                        <option value="Voluntario">Voluntario</option>
                        <option value="Administrador">Administrador</option>
                    </select>
                    <div class="form-group">
                        <label asp-for="AditionalInformation" class="control-label"></label>
                        <textarea asp-for="AditionalInformation" class="form-control"></textarea>
                        <span asp-validation-for="AditionalInformation" class="text-danger" id="edit-info"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Guardar" class="button-format" style="margin-left:-1%;" id="edit-submit" />
                    </div>
                </form>
            </div>
        </div>
        <div>
            <a asp-action="Index"><button class="button-format" style="margin-left: 37%;"><span>Voltar</span></button></a>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
