@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirmar email";
}


<div class="div-content">
    <h2>@ViewData["Title"]</h2>
    <p>
        Obrigado por confirmar o seu email
    </p>
</div>
