@page
@{
    ViewData["Title"] = "Enviar Email";
}

<div class="div-content">
    <h2 style="font-size: 30px;"><b>@ViewData["Title"]</b></h2>
    <div>
        <p>
            Verifique o seu email.
        </p>
    </div>
</div>