@page
@{
    ViewData["Title"] = "Enviar Email";
}



<div class="div-content">
    <h2 style="font-size: 30px; text-align: left;"><b>@ViewData["Title"]</b></h2>
    <p>
        Verifique o seu email.
    </p>
</div>

