@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Esqueci-me da password";
}

<div class="div-content">
    <h2 style="font-size: 30px;"><b>@ViewData["Title"]</b></h2>
    <p>
        Porfavor verifique o seu email para repor a password!
    </p>
</div>