@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Esqueci-me da password";
}

<div class="div-content">
    <h2>@ViewData["Title"]</h2>
    <p>
        Porfavor verifique o seu email para repor a password
    </p>
</div>


