@page
@model RegisterModel
@{
    ViewData["Title"] = "Registar";
}

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

    $(function () {
        $('[data-toggle="popover"]').popover({
            container: 'body'
        })
    })

    $('.popover-dismiss').popover({
        trigger: 'focus'
    })
</script>

<div class="div-content">
    <div class="row">
        <div class="col-md-4" style="left:25%;">
            <form class="form-register" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h2 style="font-size: 30px;"><b>@ViewData["Title"]</b></h2>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Name">Nome Completo*</label>
                    <button style="background-color:#164C48; width:3em; float:right;" type="button" class="btn btn-outline-info form-control" data-toggle="popover" data-trigger="focus" title="Nome Completo" data-content="Aqui irá inserir o seu nome completo.">
                        <img style="width:100%" src="~/images/info_popup.png" alt="info">
                    </button>
                    <input asp-for="Input.Name" class="form-control" id="Registar-name" placeholder="ex: Victor Miguel Geraldes Ramos" />
                </div>
                <div class="form-group">
                    <label asp-for="Input.DateOfBirth">Data de Nascimento*</label>
                    <button style="background-color:#164C48; width:3em; float:right;" type="button" class="btn btn-outline-info form-control" data-toggle="popover" data-trigger="focus" title="Data de Nascimento" data-content="Aqui irá inserir a sua data de nascimento no seguinte formato DD/MM/AAAA">
                        <img style="width:100%" src="~/images/info_popup.png" alt="info">
                    </button>
                    <input asp-for="Input.DateOfBirth" class="form-control" id="Registar-date" />
                </div>
                <div class="form-group">
                    <label asp-for="Input.UserType">Tipo de Utilizador*</label>
                    <button style="background-color:#164C48; width:3em; float:right;" type="button" class="btn btn-outline-info form-control" data-toggle="popover" data-trigger="focus" title="Tipo de utilizador" data-content="Aqui irá escolher o tipo de utilizador que irá ser, Funcionário ou Voluntário.">
                        <img style="width:100%" src="~/images/info_popup.png" alt="info">
                    </button>
                    <select asp-for="Input.UserType" class="form-control custom-select" id="Registar-user-type">
                        <option selected>Tipo de utilizador</option>
                        <option value="Funcionario">Funcionario</option>
                        <option value="Voluntario">Voluntario</option>
                        <option value="Voluntario">Administrador</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Email">Email*</label>
                    <button style="background-color:#164C48; width:3em; float:right;" type="button" class="btn btn-outline-info form-control" data-toggle="popover" data-trigger="focus" title="Email" data-content="Aqui irá inserir o seu email não institucional.">
                        <img style="width:100%" src="~/images/info_popup.png" alt="info">
                    </button>
                    <input asp-for="Input.Email" class="form-control" id="Registar-email" placeholder="ex: victor.miguel@hotmail.com" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password">Password*</label>
                    <button style="background-color:#164C48; width:3em; float:right;" type="button" class="btn btn-outline-info form-control" data-toggle="popover" data-trigger="focus" title="Password" data-content="Aqui irá inserir a sua password. Este deverá ter o seguinte formato, um caracter maiúscula, um caracter minúsculo, um número, um caracter especial e um tamanho mínimo de 6 caracteres.">
                        <img style="width:100%" src="~/images/info_popup.png" alt="info">
                    </button>
                    <input asp-for="Input.Password" class="form-control" id="Registar-password" placeholder="Password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword">Confirmar Password*</label>
                    <button style="background-color:#164C48; width:3em; float:right;" type="button" class="btn btn-outline-info form-control" data-toggle="popover" data-trigger="focus" title="Confirmar Password" data-content="Aqui irá confirmar a password inserida préviamente.">
                        <img style="width:100%" src="~/images/info_popup.png" alt="info">
                    </button>
                    <input asp-for="Input.ConfirmPassword" class="form-control" id="Registar-confirm" placeholder="Repetir password" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                Campos com * são obrigatórios<br /><br />
                <button type="submit" class="button-format" style="margin-left: 32%" id="Registar-submit">Registar</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


