@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Resete a sua password confirmação";
}

<h2>@ViewData["Title"]</h2>
<p>
    A sua password for resetada, Porfavor <a asp-page="./Login">clique aqui para Autenticar</a>.
</p>
