@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Resete a sua password confirmação";
}

<div class="div-content">
    <h2 style="font-size: 30px;"><b>@ViewData["Title"] </b></h2>
    <p>
        A sua password for reposta, Porfavor <a asp-page="./Login">clique aqui para Autenticar</a>.
    </p>
</div>
    
