@model IEnumerable<ProjectSW.Data.ProjectSWUser>

<div class="div-content">
    <h2 style="font-size: 30px; margin-bottom:5%;"><b>Lista de Contas</b></h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Nome
                </th>
                <th>
                    Função
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserType)
                </td>
                <td>
                    <a asp-action="DeleteUser" class="delete-link" asp-route-id="@item.Id">
                        Eliminar
                    </a>
                </td>
            </tr>
            }
        </tbody>
    </table>

    </div>

