
@{
    ViewData["Title"] = "ViewProfile";
}

<h2>Perfil</h2>

<div class="div-home">
     <div>
                <form action="" method="post">
                    <div>
                        <label for="name">Nome completo:</label>
                        <input type="text" disabled="disabled" id="name" value="José Manuel da Silva" />
                    </div>
                    <div>
                        <label for="mail">Email:</label>
                        <input type="email" disabled="disabled" id="mail" value="jose.manuel@hotmail.com" />
                    </div>
                    <div>
                        <label for="msg">Palvra-passse:</label>
                        <input type="text" disabled="disabled" name="LastName" value="**********"><br>
                    </div>
                    <div class="button">
                        <!--alterar-->
                        <button type="submit"> <a style="color:black" asp-area="" asp-controller="Account" asp-action="EditProfile">Editar</a></button>
                    </div>
                </form>

      </div>
    <img class="img-fundo" src="~/images/Image_1.png" />
</div>