<!DOCTYPE html>
<html>
<head>
    <title>Quinta do Mião </title>
    <link rel="icon" type="png" href="~/images/icon.png" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <environment include="Development">
        <link rel="stylesheet" href='@Url.Content("~/lib/bootstrap/dist/css/bootstrap.css")'>
        <link rel="stylesheet" href='@Url.Content("~/css/site.css")'>
    </environment>
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top .text-primary">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse text-white">

                <ul class="nav navbar-nav" style="flex-direction: unset">
                    <li style="float:left"><a asp-area="" asp-controller="Home" asp-action="Index"><b>Quinta do Mião</b></a></li>
                </ul>
                <ul class="nav navbar-nav" style="flex-direction: unset">
                    <li><a asp-area="" asp-controller="Home" asp-action="About">Quem somos</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="ListAnimals">Animais para Adoção</a></li>.

                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>


    <partial name="_CookieConsentPartial" />

    <div class="container body-content">

        @RenderBody()
        <footer class="footer">
            &copy;2018 Quinta do Mião - Centro Intermunicipal de Recolha de Animais Errantes Barreiro/Moita&nbsp;&nbsp; Telefone: 212068625
            <div class="social">
                <a href="https://www.facebook.com/quintamiao/"><img class="icon" src="images/facebook.png" alt="Facebook Logo"></a>
           </div>
        </footer>
    </div>

    @RenderSection("Scripts", required: false)

</body>
</html>
