
@{
    ViewData["Title"] = "Pedido de adoção";
}

<div class="div-content">
    <h2 style="font-size: 30px; text-align: left;"><b>@ViewData["Title"]</b></h2>
    <p>
        O seu pedido foi submetido.
    </p>
    <p>
        Receberá uma resposta via Email
    </p>
</div>
