@model IEnumerable<ProjectSW.Models.Animal>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container body-content">
    <div class="slideshow-container">

        <div class="mySlides">
            <img style="width: 60%; filter: drop-shadow(0px 0px 3px #000000);" src="~/images/quinta.jpg" />
        </div>

        <div class="mySlides">
            <img style="width: 60%; filter: drop-shadow(0px 0px 3px #000000);" src="~/images/inauguracao.jpg" />
        </div>

        <div class="mySlides">
            <h3 style="text-align: left">
                <img src="~/images/pawprint-white.png" /> Quinta do Mião
            </h3>
            <br />
            <p style="text-align: justify;">
                Situada na Quinta das Rebelas, no concelho do Barreiro (junto ao Mercado Abastecedor), a Quinta do Mião – Centro de Recolha de Animais Errantes do Barreiro e da Moita é uma obra assumida pelos municípios da Moita e Barreiro que colaboraram, assim, na criação de instalações mais modernas e adequadas do que as existentes até agora nos dois concelhos, repartindo as despesas de construção do novo equipamento e partilhando recursos.

                A “Quinta do Mião” tem 33 boxes para cães, celas de quarentena, um gatil, um espaço administrativo, gabinete de veterinário, sala de tosquias e tratamentos e, neste seu primeiro dia de abertura, contou já com a visita de duas turmas do Ensino Pré- Escolar (uma de cada concelho).
            </p>
        </div>

        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>

    </div>

    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        }
    </script>
</div>

<h2>Idades dos animais mais adotados</h2>

<div class="col-md-5">
    <canvas id="myChart" style="background-color:white;"></canvas>
</div>

<script>
    var userObj = @Html.Raw(Json.Serialize(Model));
    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["0-2", "3-5", "6-8", "9-10", "10>"],
            datasets: [{
                label: 'idade dos animais adotados',
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });

    }
    

    @{
        var years2 = 0;
        var years5 = 0;
        var years8 = 0;
        var years10 = 0;
        var moreYears = 0;

        foreach (Animal animal in Model)
        {
            if (!animal.Available)
            {
                var age = DateTime.Now.Year - animal.DateOfBirth.Year;
                switch (age)
                {
                    case 0:
                    case 1:
                    case 2:
                        years2++;
                        break;
                    case 3:
                    case 4:
                    case 5:
                        years5++;
                        break;
                    case 6:
                    case 7:
                    case 8:
                        years8++;
                        break;
                    case 9:
                    case 10:
                        years10++;
                        break;
                    default:
                        moreYears++;
                        break;
                }
            }
        }
    }
    

</script>

