@{
    ViewData["Title"] = "Home Page";
}

<div class="div-home">
    <div>
        <h1>Eventos</h1>
        <br />
        <div>
            <h3>- Dia 23 de Dezembro -</h3>
            <p>Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus, cum eros quis aliquam wisi. Nulla wisi laoreet suspendisse integer vivamus elit eu mauris hendrerit facilisi, mi mattis pariatur aliquam pharetra eget.</p>
        </div>
        <div>
            <h3>- Dia 2 de Dezembro -</h3>
            <p>Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus, cum eros quis aliquam wisi. Nulla wisi laoreet suspendisse integer vivamus elit eu mauris hendrerit facilisi, mi mattis pariatur aliquam pharetra eget.</p>
        </div>
    </div>

    <img class="img-fundo" src="~/images/Image_1.png" />
</div>

