@{
    ViewData["Title"] = "Home Page";
}

<div class="container body-content">
    <div id="div-home" style="background-color:white; border-radius:2em; text-align:justify;width:40%;">

        <h2>Próximso Eventos</h2>
        <p>

        </p>

    </div>
    </div>

