@{
    ViewData["Title"] = "Contact";
}

<div class="container body-content">
    <div id="div-home" style="background-color:white; border-radius:2em; text-align:justify;width:40%;">

        <h2>Em desenvolvimento</h2>
    </div>
</div>

