@model IEnumerable<ProjectSW.Models.Animal>
@{
    ViewData["Title"] = "Animais";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="div-content" style="background-color: white; border-radius: 4px; padding: 5px; width: 90%;">
    <h2 style="font-size: 30px;  margin-bottom: 50px; color:#164C48;"><b>Lista de Animais</b></h2>


    @foreach (var item in Model)
    {
        string base64 = null;
        string imgSrc = null;
        if (item.Foto != null)
        {
            base64 = Convert.ToBase64String(item.Foto);
            imgSrc = String.Format("data:image/gif;base64,{0}", base64);
        }

        <div class="container-img">
            <div class="hovereffect">
                <img class="img-animal" src="@imgSrc" height="200px" width="200px" alt="Sem foto disponivel" />
                <div class="overlay">
                    <a class="info" asp-action="DetailsAnimal" asp-route-id="@item.Id"> @Html.DisplayFor(model => item.Name)</a>
                </div>
            </div>
        </div>
    }


</div>

