@{
    ViewData["Title"] = "Contact";
}
<div>
    <table>
        <tr>
            <td class="div-home">
                <div>
                    <br />
                    <h1>Animais para Adoção</h1>
                    <br />
                    <!-- <div class="box">
                         <div class="form-group">
                             <label for="usr">Name:</label>
                             <input type="text" class="form-control" id="usr">
                         </div>
                         <div class="form-group">
                             <label for="pwd">Password:</label>
                             <input type="password" class="form-control" id="pwd">
                         </div> -->
                </div>
                <div class="box">
                    <img src="~/images/riko.png" />
                    <h4>Riko</h4>
                    <img src="~/images/flor.png" />
                    <h4>Flor</h4>
                </div>
            <td>
                <div class="box">
                    <img src="~/images/toy.png" />
                    <h4>Toy</h4>
                    <img src="~/images/maca.png" />
                    <h4>Maçã</h4>
                </div>
            </td>
        </tr>
    </table>

</div>
